<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Willkommen im Skatweb</h1>

  <h2>
    Hier kannst du alle deine Skat-Ergebnisse eintragen.<p>
	Außerdem ist das Oz erstes Rails-Projekt, also bitte nicht zu kritisch sein!.
  </h2>

  <%= link_to "Jetzt Spiel eintragen!", '#', class: "btn btn-large btn-primary" %>
</div>
<br><br><br>
<%= link_to image_tag("idevLogo.png", alt: "iDev"), 'http://www.idev.de/' %>

<h1><u></u></h1>
<p>
	
</p>
 