<!DOCTYPE html>
<html>
  <head>
    <title>skatWeb | <%= @title %> </title>
  </head>
  <body>
    <a href="mailto:zilken@idev.de">Oliver Zilken</a> hats gebaut, mailen bitte !
</p>
	
  </body>
</html>