<!DOCTYPE html>
<html>
  <head>
    <title>skatWeb | <%= @title %> </title>
  </head>
  <body>
    <h1>Willkommen im skatweb!</h1>
    <p>
      Dies ist mein erster Rails-Test, also bitte nicht meckern, ja ?!
    </p>
	<a href="/users">Users</a>
	<br>
	<a href="/skat_game_scores">Skat game scores</a>
	<br>
	<a href="/pages/contact">Kontakt</a><br>
	<br>
	
	<%= link_to "Sign up now!", '#', :class => "signup_button round" %>
	
  </body>
</html>
