<footer class="footer">
  <small>
    <a href="http://www.idev.de">iDev</a> SkatWeb by Oliver Zilken
  </small>
  <nav>
    <ul>
      <li><%= link_to "Hilfe",   help_path %></li>
    </ul>
  </nav>
</footer>