<footer>
  <nav class="round">
    <ul>
      
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://jira.idev.lan/confluence/dashboard.action">iDev Confluence</a></li>
    </ul>
  </nav>
</footer>